.title {
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0 0 3px #FF0000;
  padding-top: 20px;
}
.search-form {
	padding-top: 30px;
  align-self: center;
  padding-left: 30px;
  padding-bottom: 50px;

}
h5{
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  text-align: center;
  text-shadow: 0 0 3px #FF0000;
  padding-left: 170px;
  padding-top: 5px;
  padding-right: 150px;

}
.imgs {
    float: right;
    width: 100px;
    height: 150px;
    margin-left: 2px ;
    padding-top: 30px;
    padding-left: 15px;
}

.h7 {
    display: flex;
    text-align: center;
      padding-left: 490px;

}
