.title {
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  text-align: center;
  text-decoration: underline;
}
.search-form {
	padding-top: 30px;
  align-self: center;
}
h5{
  font-family: 'Dancing Script', cursive;
  font-size: 54px;
  text-align: center;
}
